.camera__button {
  @include size(120px, 120px, 15px);
  @include color(#3CCACE,0);
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  p {
    @include color(0,white);
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  img {
    @include size(60px, 60px, 0);
    margin: auto;
  }
}
