.top_footer {
  // margin-top: 500px;
  &__image5 {
    @include size(350px, 100%, 100px 70px);
    background-image: image-url("bg-appBanner-pict.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
      margin: auto;
    &--text1  {
      @include size(20%, 100%,0);
      @include color(0,white);
      text-shadow:0px 0px 10px rgba(8, 8, 8, 0.5);
      font-size: 1.5rem;
      font-weight: bold;
    }
    &--text2 {
      @include size(20%, 100%,0);
      @include color(0,white);
      text-shadow:0px 0px 10px rgba(8, 8, 8, 0.5);
      font-size: 2.2rem;
    }
    &--badge {
      @include size(100px, auto, 0);
      margin-top: 20px;
      display: flex;
      justify-content: center;
      &__AppStore {
        @include size(70px, 25%,0);
        margin-top: 14px;
        margin-right: 10px;
      }
      &__Google {
        @include size(99px,30%,0);
       
      }
      img:hover {
        opacity: 0.5;
      }
    }
  }
  &__contents {
    @include size(350px, 100%, 60px 5% 0 5%);
    @include color(#272727,0);
    margin: auto;
    position: relative;
    &__menu { 
      @include size(100%, 100%, 0);
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      &__company {
        @include size(80%, 20%, 0);  
      }
      &__search {
        @include size(60%, 20%, 0);
      }
      &__help {
        @include size(80%, 20%, 0);
      }
      .list {
        @include size(20%, 200px, 0);
        @include color(0,white);
        text-decoration: none;
        font-size: 0.8rem;
      }
      .list:hover {
        text-decoration: underline;
      }
      h2 {
        @include color(0,white);
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 15px;
        text-align: center;
      } 
    }
    &__logo {
      @include size(45px, 100%, 0);
      max-width: 160px;
      position: absolute;
      left: 44%;
      bottom: 20%;
      img {
        @include size(100%, 100%, 0);
        object-fit: contain; 
      }
      p {
        @include color(0,white);
        font-size: 0.9rem;
        text-align: center;
      }
    }
  }
}