.show-main
  .content-all
    .main-content
      .item-information
        .item-information__name
          商品名
        .item-information__images
          %ul
            %li
              =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png")
              %ul
                %li
                  =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png")
                %li
                  =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/8/a002.png")
                %li
                  =image_tag("https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/9/a003.png")
        .item-information__price
          %span ¥10000
          .item-information__price__detail
            %span （税込）
            %span 送料込み
        .item-information__text
          親譲りの無鉄砲で小供の時から損ばかりしている。
          小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
          なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。
          弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
        .item-information__table
          %table
            %tbody
              %tr
                %th 出品者
                %td hoge
              %tr
                %th カテゴリー
                %td
                  =link_to "親要素","#"
                  =link_to "子要素","#"
                  =link_to "孫要素","#"
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 新品/未使用
              %tr
                %th 発送元の地域
                %td
                  =link_to "青森県","#"
              %tr
                %th 配送料の負担
                %td 送料込み（出品者負担）
              %tr
                %th 発送日の目安
                %td 1-2日で発送
        .item-information__option-area
          .item-information__option-area__like
            .item-information__option-area__like__btn
              %i.fas.fa-star
              %span お気に入り0
          .item-information__option-area__report
            .item-information__option-area__report__btn
              =link_to "不適切な商品の通報","#"
        .item-information-update
          %li 
            =link_to "編集する",edit_item_path, class: "update_btn"
      .comment-box
        %form
          %input
          %p.heads-up
            相手のことを考え丁寧なコメントを心がけましょう。
            %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %submit.comment-box_button
            %i.fa.fa-comment
            コメントする
      .links
        = link_to "#" do
          %i.fa.fa-angle-left
          前の商品
        = link_to "#" do
          後ろの商品
          %i.fa.fa-angle-right
        
      = link_to "レディースをもっと見る","#",class:"see-more-items"
