= render "nav-bar"
.show-main
  .content-all
    .main-content
      .item-information
        .item-information__name
          商品名

        .item-information__price
          .item-information__price__detail
        .item-information__text
        .item-information__table
          %table
        .item-information__option-area
          .item-information__option-area__like-box
            .item-information__option-area__like-box__btn
          .item-information__option-area__report-btn
            .item-information__option-area__report-btn__box
      .comment-box
