.card-group
  .card-group__title
    クレジットカード一覧
  
  .card-info
    %br
      **** **** **** 
    = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
      %input{ type: "hidden", name: "card_id", value: "" }
      %button.btn_delate  削除する