.card
  .card-content
    支払い方法
  .card-list
    登録クレジットカード情報
    .list-card-info
      = "**** **** **** " + @card_information.last4
    .list-card-days
      - exp_month = @card_information.exp_month.to_s
      - exp_year = @card_information.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
    .list-card-delete
      =link_to delete_cards_path, {method: :post, class: 'charge-form',  name: "inputForm"} do
        %input{ type: "hidden", name: "card_id", value: "" }
        %p
          削除する
