html,body {
  height: 100%;
  left: 300px;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}


@mixin size($height, $width, $padding) {
  height: $height;
  width: $width;
  padding: $padding;
}
@mixin color($backgroundcolor, $color) {
  background-color: $backgroundcolor;
  color: $color;
}

.card{
  @include size(300px, 500px, 0);
  @include color(#dddddd, 0);
  margin-left: 700px;
  text-align: center;
  margin-bottom: 200px;
  .card-content {
    line-height: 60px;
    font-size: 1.4rem;
    background-color: #c0c0c0;
  }
  .card-list {
    padding:2.4rem;
    text-decoration: none;
    .list-card-info,
    .list-card-days{
      font-size: 1.6rem;
      margin-top: 0.8rem;
      text-decoration: none;
    } 
    .list-card-delete {
      margin-top: 30px;
      right: 0;
      background-color: #3CCACE;
      border-radius: 0.4rem;
      padding: 0.5rem;
      font-size: 1.2rem;
      text-decoration: none;
      .charge-form {
        text-decoration: none;
      }
    }
  }
}

