.device.body {
  background-color: lightgray;
  // width: 700px;
  margin: 0 auto;
  padding: 40px 0;

  h1 {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

  h2, h3, p, a {
    font-size: 14px;
  }

  h3 {
    font-weight: bold;
    color: black;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  p {
    color: black;
  }
  
  p.red {
    color:  red;
  }

  a {
    text-decoration: none;
  }

  .app_logo {
    width: 185px;
    height: 50px;
  }

  .header {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    
    .links{
      margin: 0 auto;
      margin-top: 20px;    

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    
        li {
          margin: 0 20px;
        }
      }
    }

    .footer_li {
      color: black;
      font-size: 10px;
    }  
  }

  .container {
    padding: 30px 65px;
    background-color: white;
  }

  .btn {
    line-height: 48px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .btn.blue {
    background-color: skyblue;
    
    &__link {
      font-size: 14px;
      text-align: center;          
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }

  .btn.red {
    background-color: red;
    margin-bottom: 24px;
    color: white;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    a {
      color: white;
    }
  }

  .btn.gray {
    background-color: gray;
    margin-bottom: 24px;
    color: white;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: not-allowed;
  }

  .btn.facebook {
    background-color: darkblue;
    margin-bottom: 16px;
    position: relative;

    &__link {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .facebook_logo {
      position: absolute;
      color: white;
      font-size: 30px;
      top: 10px;
      left: 20px;
    }
  }

  .btn.google {
    background-color: white;
    margin-bottom: 16px;
    border: solid;
    border-width: 1px; 
    text-align: center;
    position: relative;
    
    &__link {
      color: black;
      display: block;
      width: 100%;
      height: 100%;
    }

    .google_logo {
      position: absolute;
      color: red;
      font-size: 20px;
      top: 13px;
      left: 23px;
    }
  }

  .input_box {
    width: 100%;
    line-height: 48px;
    padding-left: 20px;
    font-size: 14px;
  }

  .input_box-half {
    width: 45%;
    line-height: 48px;
    padding-left: 20px;
    font-size: 14px;
  }

  .input_box-quarter {
    width:22%;
    line-height: 48px;
    padding-left: 20px;
    font-size: 14px;
  }

  .sessions_main {
    width: 700px;
    padding: 0 120px;
    margin: 0 auto;

    .container.make_account {
      margin-bottom: 2px;
      padding: 30px 65px;
      background-color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    .container.sign_in {
      margin: 0 auto;
      padding: 30px 65px;
      background-color: white;
    
      .sns_links{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
      }

      .account_info {
        margin-top: 24px;
      }
    
      .not_robot {
        margin: 24px 0;
        position: relative;

        .alert {
          color: red;
          font-size: 12px;
          width: 90%;
        }
        .robot_checkbox {
          position: relative;
          top: 25px;
          left: 15px;
          transform: scale(3);
          vertical-align: middle;
        }
        .iamnotrobot{
          position: relative;
          left: 60px;
          display: block;
          width: 150px;
          font-size: 14px;
        }
        .cycle_logo{
          width: 60px;
          height: 60px;
          align-items: right;
          float: right;
          font-size: 50px;
        }
        .praivacy_policy{
          color: gray;
          font-size: 8px;
          text-align: right;
        }
      }
    }
  }

  .registrations_main {
    width: 700px;
    padding: 0 120px;
    margin-bottom: 2px;
    background-color: white;
    margin: 0 auto;

    p.gray {
      color: gray;
    }
    
    span {
      background-color: red;
      font-size: 12px;
      color: white;
      display: inline-block;
      padding: 1px;
      border-radius: 5px;
    }

    .container.head {
      background-color: white;
      text-align: center;
      margin-bottom: 2px;
    }
    
    .container.inner {
      background-color: white;
      padding: 30px 65px;

      .group {
        margin-bottom: 48px;

        .form {
          display: flex;
          justify-content: space-around;
          line-height: 48px;
          }
        }

      .about_registrations {
        text-align: right;
      }
    }
  }
}