.purchase {
  background-color: #d3d3d3;
  width: 100vw;
  &__subheader {
    display:table;
    text-align: center;
    width: 100vw;
    padding-bottom:25px;
    a{
      display:block;
      margin: 40px 0 0;

      img{
        // line-height: 49px;
        height: 49px;
      }
    }
  }
  &__inner{
    width: 700px;
    height: 750px;
    margin: 0 auto ;
    background-color: white;
    &__main{
      width: 700px;
      height: 741px;
      margin-top: 10px;
      &__confirmation{
        width: 700px;
        height:96px;
        line-height: 96px;
        text-align: center;
        margin: 0 auto;
        font-size: 22px;
        font-weight: bold;
        border-bottom: 1px solid #F5F5F5;
      }
      &__item{
        width: 700px;
        padding-right: 178px;
        padding-left: 178px;
        height:143px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #F5F5F5;
        &__image{
          width: 110px;
          height: 75px;
          background-color:#f5f5f5;
        }
        &__description{
          width: 240px;
          height: 80px;
          margin-left: 18px;
          &__name{
            font-size: 14px;
            margin-bottom: 5px;
          }
          &__money{
            display: flex;
            &__money{
              font-size: 15px;
            }
            &__text{
              font-size: 12px;
              margin-left: 5px;
            }
          }
        }
      }
      &__form{
        width: 343px;
        height: 500px;
        margin: 0 auto;
        a {
          color: #0099e8;
          text-decoration: none;
        }
        &__cost{
          width: 343px;
          height: 139px;
          border-bottom: 1px solid #F5F5F5;
          &__box{
            display: flex;
            justify-content: space-between;
            padding-top: 35px;
            &__head{
              margin-top: 8px;
              font-size: 18px;
              font-weight: bold;
            }
            &__amount{
              font-size: 28px;
              font-weight: bold;
            }
          }
          &__usepoint{
            display: flex;
            input[type=checkbox] {
              -ms-transform: scale(1.5, 1.5);
              -webkit-transform: scale(1.5, 1.5);
              transform: scale(1.3);
              margin-top: 10px;
            }
            
            &__text{
              margin-left: 15px;
              margin-top: 10px;
              color: gray;
              font-size: 14px;
            }
          }
        }
        &__payment{
          width: 343px;
          height: auto;
          border-bottom: 1px solid #F5F5F5;
          font-size: 14px;
          padding-top: 30px;
          .register-button{
            color: #0099e8;
            padding-bottom: 5px;
          }
        }
        &__shipping{
          width: 343px;
          height: auto;
          font-size: 14px;
          padding-top: 30px;
          border-bottom: 1px solid #F5F5F5;
          text-decoration: none;
          .register-button{
            color: #0099e8;
            padding-bottom: 5px;
          }
        }
        &__buy{
          display: flex;
          justify-content: center;
          width: 343px;
          height: 140px;
          background-color: white;

          &__button{
            margin-top: 33px;
            width: 343px;
            height: 50px;
            background-color:#888;
            color: white;
            font-size: 16px;
            line-height: 50px;
            text-align: center;
          }

        }
      } 
      
    }
  }
}

.data-exists__header{
  display: flex;
  justify-content: space-between;
  &__modify{
    color: #0099e8;
  }
}
.residence-data{
  font-size: 14px;
  &__address{
    display: flex;
    &__item{
      margin-right: 5px;
    }
  }
  &__name{
    display: flex;
    &__item{
      margin-right: 5px;
    }
    padding-bottom: 5px;
  }
}

.residence-title {
  font-weight: bold;
}

.sub-footer{
  width: 100vw;
  background-color: #d3d3d3;
  bottom: 0;
  margin: 0 auto;
  &__box{
    width: 456px;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    
    &__menu{

      a{
        text-decoration: none;
        color: black;
      }
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    color: #333;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    &__kiyaku{
    }
  }
  
  &__image{
    width: 102px;
    height: auto;
    padding-top: 10px;
    margin: 0 auto;
    color: black;
    margin: 20px, 0;

  }
    &__bottom{
      height: 65px;
      font-size: 16px;
      text-align: center;
      margin: 20px, 0;

    }
  }
}