.html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  box-sizing:border-box
}

.show-main{
  background: #f8f8f8;
  .content-all{
    padding: 40px;
    .main-content{
      width: 700px;
      margin: 0 auto;


      .item-information{
        background-color: white;
        padding: 24px 40px 40px; 
        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        } 
        &__images{
          margin-top: 16px;
          ul{
            display: flex;
            position: relative;
            li{
              display: flex;
              flex-direction: column;
              width: 560px;
              margin: 0 auto;
              img {
                object-fit: cover;
                height: 346px;
              }
              ul{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                li{
                  width: 25%;
                  margin: 0 10px 0 0;
                  img{
                    object-fit: cover;
                    height: 87px;
                  }
                }
              }
            }
          }
        } 
        &__price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          span {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &__detail{
            span{
              font: unset;
              margin: unset;
            }
          }         
        }
        &__text{
          font-size: 18px;
          margin-bottom: 30px; 
        }
        &__table{
          margin-bottom: 20px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tbody{
              tr{
                th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center; 
                }
                td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  a{
                    display: block;
                    text-decoration: none;
                    color: #3CCACE;
                  }
                }
              }
            }
          }
        }
        &__option-area{
          display: flex;
          justify-content: space-between; 
          margin-bottom: 30px;       
          &__like{
            margin-top: 10px;
            &__btn{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
              &:hover{opacity: 0.5;}
            }
          }
          &__report{
            margin-top: 10px;
            &__btn{
              font-size: 14px;
              border: 1px solid #333;
              border-radius: 4px;
              &:hover{opacity: 0.5;}
              a{
                padding: 6px 10px;
                display: inline-block;
                color: #333;
                text-decoration: none; 
                &:before {
                  font-family: "Font Awesome 5 Brands";
                  font-weight: 400; 
                  content: '\f425\00a0';
                }
              }
            }
          }
        }
        .item-information-update {
          text-align: center;
          li {
            list-style: none;
            .update_btn {
              padding: 15px 70px;
              border-radius: 5px;
              text-decoration: none;
              color: white;
              background-color: #ea5550;
              
            }
            .update_btn:hover {
              background-color: #ce5242;
            }
          }
        }
      }
      .item-btn-box{
        background-color: #fff;
        margin: 20px 0 20px 0;
        .item-btn{
          display: block;
          padding: 20px;

          text-align: center;
          line-height: 50px;

          &__edit{
          background-color: red;
          }
          &__destroy{
          background-color: gray;

          }
          &__purchase{

            background-color: red;

          }
          a{
            font-weight: 600;
            display:block;
            text-decoration: none;
            color: #fff;


          }
        }
      }


      .comment-box{
        width: 100%;
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        form {
          input{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          p{
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          submit{
            margin: 0 auto;
            display: block;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }

        }
      }
      .links{
        display: flex;
        justify-content: space-between;
        a{
          text-decoration: none;
          color: #3CCACE
        }
      }
      a.see-more-items{
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;      }

    }
  }    
}